[mysqld_safe]
pid-file=/var/lib/mysql/mysqld.pid

[mysqld]
user = mysql
basedir = /usr
datadir = /var/lib/mysql
pid-file = /var/lib/mysql/mysql.pid
socket = /var/lib/mysql/mysql.sock
port = 3306
wait_timeout = 28800
# max_allowed_packet = 4194304
# max_connections = 151

tmpdir = /var/lib/mysql
skip-name-resolve

character_set_server = utf8

log_error = /var/lib/mysql/error.log

innodb_flush_log_at_trx_commit = 0
innodb_file_per_table=1



